{
	email {$SSL_EMAIL:dev@example.invalid}
	log {
		level INFO
		format json
	}
}

(common_proxy) {
	encode zstd gzip
	header {
		-Server
		X-Content-Type-Options nosniff
		Referrer-Policy no-referrer
	}
}

import /etc/caddy/foundation-routes.d/*.caddy
import /etc/caddy/routes.d/*.caddy
